extends layout

block content
  h1 #{title}

  h3 Employee: #{report.employee.name}

  h3 Health Practice:  #{report.healthPractice.label}

  h3 Location Occurred: #{report.location.label}

  h3 Are you sure you want to delete this report?

  form(method='POST' action='')
    div.form-group
      input#reportid.form-control(type='hidden', name='reportid', required='true', value=report._id)

    button.btn.btn-submit(type='submit') Delete